$bg-dark-blue: #180979;
$bg-light-blue: #55f8ff;
$bg-dark-green: #234a00;
$bg-light-green: #25e417;
$bg-dark-red: #4d0202;
$bg-light-red: #e41717;
$bg-dark-yellow: #a0a700;
$bg-light-yellow: #f5ff00;
$bg-orange: #e48117;
$bg-pink: #e417d8;
$bg-ink: #a717e4;
$bg-white: #ffffff;
$bg-black: #000000;
$bg-gray: #808080;


.bg-light-red {
    background-color: $bg-light-red;
}

.bg-dark-red {
    background-color: $bg-dark-red;
}

.bg-light-yellow {
    background-color: $bg-light-yellow;
}

.bg-dark-yellow {
    background-color: $bg-dark-yellow;
}

.bg-pink {
    background-color: $bg-pink;
}

.bg-ink {
    background-color: $bg-ink;
}


.bg-gray {
    background-color: $bg-gray;
}

.bg-orange {
    background-color: $bg-orange;
}

.bg-white {
    background-color: $bg-white;
}

.bg-black {
    background-color: $bg-black;
}

.bg-dark-green {
    background-color: $bg-dark-green;
}

.bg-light-green {
    background-color: $bg-light-green;
}

.bg-dark-blue {
    background-color: $bg-dark-blue;
}

.bg-light-blue {
    background-color: $bg-light-blue;
}

.bg-transparent {
    background-color: transparent;
}