.brr-1{
    border-radius: 2px;
}

.brr-2{
    border-radius: 4px;
}

.brr-3{
    border-radius: 6px;
}

.brr-4{
    border-radius: 8px;
}

.brr-5{
    border-radius: 10px;
}

.brr-6{
    border-radius: 12px;
}

.brr-7{
    border-radius: 14px;
}

.brr-8{
    border-radius: 16px;
}

.brr-9{
    border-radius: 18px;
}

.brr-10{
    border-radius: 20px;
}

.brr-50{
    border-radius: 50%;
}
