.br-1 {
    border: 1px solid;
}

.br-2 {
    border: 2px solid;
}

.br-3 {
    border: 3px solid;
}

.br-4 {    
    border: 4px solid;
}

.br-5 {
    border: 5px solid;
}

.br-light-red {
    color: $color-light-red;
}

.br-dark-red {
    color: $color-dark-red;
}

.br-light-yellow {
    color: $color-light-yellow;
}

.br-dark-yellow {
    color: $color-dark-yellow;
}

.br-pink {
    color: $color-pink;
}

.br-gray {
    color: $color-gray;
}

.br-orange {
    color: $color-orange;
}

.br-white {
    color: $color-white;
}

.br-black {
    color: $color-black;
}

.br-dark-green {
    color: $color-dark-green;
}

.br-light-green {
    color: $color-light-green;
}

.br-dark-blue {
    color: $color-dark-blue;
}

.br-light-blue {
    color: $color-light-blue;
}

.br-transparent {
    color: transparent;
}