.color-dark-blue {
    color: $color-dark-blue;
}

.color-light-blue {
    color: $color-light-blue;
}

.color-dark-green {
    color: $color-dark-green;
}

.color-light-green {
    color: $color-light-green;
}

.color-dark-red {
    color: $color-dark-red;
}

.color-light-red {
    color: $color-light-red;
}

.color-dark-yellow {
    color: $color-dark-yellow;
}

.color-light-yellow {
    color: $color-light-yellow;
}

.color-orange {
    color: $color-orange;
}

.color-pink {
    color: $color-pink;
}

.color-light-ink {
    color: $color-ink;
}

.color-light-white {
    color: $color-white;
}

.color-black {
    color: $color-black;
}

.color-gray {
    color: $color-gray;
}