// ================ ALL OPACITY

.opacity-10 {
    opacity: 10%;
}

.opacity-20 {
    opacity: 20%;
}

.opacity-30 {
    opacity: 30%;
}

.opacity-40 {
    opacity: 40%;
}

.opacity-50 {
    opacity: 50%;
}

.opacity-60 {
    opacity: 60%;
}

.opacity-70 {
    opacity: 70%;
}

.opacity-80 {
    opacity: 80%;
}

.opacity-90 {
    opacity: 90%;
}

.opacity-100 {
    opacity: 100%;
}

// ================ LINK OPACITY

.link-opacity-10 {
    opacity: 10%;
}

.link-opacity-20 {
    opacity: 20%;
}

.link-opacity-30 {
    opacity: 30%;
}

.link-opacity-40 {
    opacity: 40%;
}

.link-opacity-50 {
    opacity: 50%;
}

.link-opacity-60 {
    opacity: 60%;
}

.link-opacity-70 {
    opacity: 70%;
}

.link-opacity-80 {
    opacity: 80%;
}

.link-opacity-90 {
    opacity: 90%;
}

.link-opacity-100 {
    opacity: 100%;
}

// ================ TEXT OPACITY

.text-opacity-10 {
    opacity: 10%;
}

.text-opacity-20 {
    opacity: 20%;
}

.text-opacity-30 {
    opacity: 30%;
}

.text-opacity-40 {
    opacity: 40%;
}

.text-opacity-50 {
    opacity: 50%;
}

.text-opacity-60 {
    opacity: 60%;
}

.text-opacity-70 {
    opacity: 70%;
}

.text-opacity-80 {
    opacity: 80%;
}

.text-opacity-90 {
    opacity: 90%;
}

.text-opacity-100 {
    opacity: 100%;
}

// ================ BTN OPACITY


.btn-opacity-10 {
    opacity: 10%;
}

.btn-opacity-20 {
    opacity: 20%;
}

.btn-opacity-30 {
    opacity: 30%;
}

.btn-opacity-40 {
    opacity: 40%;
}

.btn-opacity-50 {
    opacity: 50%;
}

.btn-opacity-60 {
    opacity: 60%;
}

.btn-opacity-70 {
    opacity: 70%;
}

.btn-opacity-80 {
    opacity: 80%;
}

.btn-opacity-90 {
    opacity: 90%;
}

.btn-opacity-100 {
    opacity: 100%;
}

