.text-gradient-primary {
    font-size: 72px;
    background: -webkit-linear-gradient(90deg, rgba(94, 186, 0, 1) 0%, rgba(0, 82, 167, 0.8519782913165266) 57%, rgba(255, 227, 4, 1) 83%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}