$header-gradient-white: linear-gradient(to right, #859398, #283048);
$background-gradient: linear-gradient(to right, #0f0c29, #302b63, #24243e);
$color-dark-blue: #180979;
$color-light-blue: #55f8ff;
$color-dark-green: #234a00;
$color-light-green: #25e417;
$color-dark-red: #4d0202;
$color-light-red: #e41717;
$color-dark-yellow: #a0a700;
$color-light-yellow: #f5ff00;
$color-orange: #e48117;
$color-pink: #e417d8;
$color-ink: #a717e4;
$color-white: #ffffff;
$color-black: #000000;
$color-gray: #808080;